@font-face {
    font-family: 'intro';
    src: url('../fonts/introheadb-h1baseshade-webfont.woff2') format('woff2'),
         url('../fonts/introheadb-h1baseshade-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

$rs: 'Roboto Slab';
$intro: 'intro';