@import "_normalize.scss";
@import "_variables.scss";
@import "_sprite.scss";
@import "_animate.scss";

html, body, .all-wrapper, .main-content {
	height: 100%;
}

body {
	overflow-x: hidden;
}

.container {
	padding: 0 60px;
}

.scaleable-wrapper {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.site-header {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 140px;
	transition: background .8s ease-in-out;
	&.dark__header {
		background: rgba(0, 0, 0, .5);
	}
	.container {
		position: relative;
	}
	&__inner {
		position: relative;
	}
	.logo {
		position: absolute;
		left: 0;
		top: 27px;
	}
}

.cart-and-menu {
	position: absolute;
	right: 0;
	color: #fff;
	top: 34px;
	z-index: 1;
	.cart {
		display: inline-block;
		padding-left: 46px;
		background: url(../img/cart.png) left center no-repeat;
		font: 700 16px/30px $rs;
		color: #fff;
		text-decoration: none;
		&:hover {
			color: #3bd439;
		}
	}
}

.toggle-menu {
	width: 76px;
	height: 76px;
	background: transparent;
	border: none;
	outline: 0;
	display: inline-block;
	margin-left: 45px;
	vertical-align: middle;
	padding: 10px;
	cursor: pointer;
	&:hover {
		span {
			background: #3bd439;
		}
	}
	span {
		margin-bottom: 4px;
		display: block;
		height: 8px;
		background: #fff;
		transition: all .3s ease-in-out;
		&:last-child {
			margin-bottom: 0;
		}
	}
	&.active {
		span:first-child {
			transform: rotate(-45deg);
			margin-bottom: -8px;
		}
		span:nth-child(2) {
			transform: rotate(45deg);
		}
		span:last-child {
			display: none;
		}
	}
}

.main-nav {
	position: fixed;
	right: 0;
	height: 100%;
	background: rgba(0, 0, 0, .6);
	width: 390px;
	padding: 180px 70px 0 0;
	transform: translateX(390px);
	transition: transform .3s ease-in-out;
	&.visible {
		transform: none;
	}
	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
		text-align: right;
		li {
			margin-bottom: 30px;
		}
		a {
			color: #fff;
			text-decoration: none;
			text-transform: uppercase;
			transition: all .3s ease-in-out;
			&:hover {
				color: #3bd439;
			}
		}
		li.active a {
			color: #3bd439;
		}
	}
}


.full-height {
	height: 100%;
	position: relative;
}

.intro__heading {
	font-family: $intro;
	font-weight: normal;
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

.first__section {
	background: url(../img/index-bg.jpg) top center no-repeat;
	background-size: cover;
	.intro__heading {
		text-align: center;
		color: #fff;
		font-size: 80px;
		line-height: 100px;
		position: absolute;
		bottom: 50px;
		left: 0;
		width: 100%;
		margin: 0;
		animation-delay: 2.5s;
	}
}

.index__images {
	position: absolute;
	transform-origin : 50% 100%;
	img {
		max-width: 100%;
		height: auto;
		display: block;
	}
}

.scaleable-wrapper__inner {
	bottom: 0;
	height: 100%;
	transform-origin : 0% 100%;
	width: 100%;
	left: 0;
	width: 1920px;
	height: 979px;
	position: absolute;
}

.index-womans {
	left: 0;
	bottom: 0;
	transform-origin : 0% 100%;
	animation-delay: 1.5s;
}

.index-man {
	right: 0;
	bottom: 0;
	transform-origin : 100% 100%;
	animation-delay: 1s;
}

.index-tube {
	left: 50%;
	bottom: 170px;
	margin-left: -215px;
	transform-origin : 50% 90%;
	animation-delay: .3s;
}



.skew__wrapper {
	overflow: hidden;
	width: 100%;
	&--inner {
		display: flex;
		margin: 0 -5%;
		height: 960px;
	}
}

.skew__item {
	width: 30%;
	overflow: hidden;
	margin: 0 5px;
	&:nth-child(2) {
		width: 40%;
	}
	&-inner {
		display: block;
		width: 135%;
		margin-left: 50%;
		height: 100%;
		overflow: hidden;
	}
	&--overflow {
		height: 100%;
		background-position: top center;
		background-size: cover;
		background-repeat: no-repeat;
	}

	&-heading {
		position: absolute;
		top: 0;
		width: 100%;
		margin: 0;
		padding: 15px 20px 10px;
		background: rgba(24, 199, 26, .9);
		font: 60px $intro;
		color: #fff;
		text-align: center;
		text-transform: uppercase;
		z-index: 1;
	}
	&-text {
		position: absolute;
		bottom: 0;
		width: 100%;
		&--inner {
			background: rgba(24, 199, 26, .9);
			color: #fff;
			font: 700 16px $rs;
			padding: 35px;
		}
		p {
			transform: skew(-6deg);
		}
	}
}

.skew-direction__left {
	.skew__item {
		transform: skew(6deg);
		&-inner {
			transform: skew(-6deg) translate(-50%);
		}
		&-aligner {
			transform: skew(-6deg);
			display: block;
		}
		&:first-child {
			.skew__item-aligner {
				margin-left: 100px;
			}
		}
	}
}

.skew-direction__right {
	.skew__item {
		transform: skew(-6deg);
		&-inner {
			transform: skew(6deg) translate(-50%);
		}
		&-aligner {
			transform: skew(6deg);
			display: block;
		}
		&:last-child {
			.skew__item-aligner {
				margin-right: 100px;
			}
		}
	}
}

.second__section {
	.skew__item:first-child {
		.skew__item-heading {
			top: 110px;
		}
	}
	.skew__item:nth-child(2) {
		.skew__item-heading {
			top: 50px;
		}
	}
	.skew__item:nth-child(3) {
		.skew__item-heading {
			top: 100px;
		}
	}
}


.tastes {
	background: url(../img/states-bg.jpg) top center no-repeat;
	padding-bottom: 70px;
	background-size: cover;
	h2 {
		color: #27db2b;
		font-size: 100px;
		text-align: center;
	}
}

.tastes__wrapper {
	text-align: center;
}

.tastes__item {
	display: inline-block;
	vertical-align: top;
	&--cart {
		position: relative;
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-bottom: 50px;
	}
	&:nth-child(2) {
		margin: 0 60px;
	}
	&--form {
		width: 220px;
		.btn {
			width: 100%;
			transform: none;
			outline: 0;
			border: none;
			text-transform: uppercase;
			margin-top: 15px;
		}
	}
	.tube-cake {
		position: absolute;
		bottom: 0;
		left: 150px;
	}
	&--info {
		text-align: left;
		color: #fff;
		.tube__name {
			font: 40px $intro;
			margin: 0 10px 0 0;
			text-transform: uppercase;
			padding-left: 60px;
			max-width: 270px;
			display: inline-block;
			vertical-align: middle;
		}
		.tube__price {
			font: 80px $intro;
			margin: 0;
			display: inline-block;
			vertical-align: middle;
			.curr {
				font-size: 50px;
			}
		}

	}
}

.input-number-box {
	background: rgba(255, 255, 255, .4);
	border-radius: 25px;
	height: 60px;
	padding: 5px;
	width: 100%;
	position: relative;
	.tastes__input {
		display: block;
		height: 100%;
		width: 100%;
		border-radius: 25px;
		border: 4px solid #28e22c;
		outline: 0;
		text-align: center;
	}
	.input-number-more,
	.input-number-less {
		position: absolute;
		width: 15px;
		height: 15px;
		top: 50%;
		margin-top: -7px;
		background: red;
		left: 20px;
		z-index: 1;
		cursor: pointer;
	}
	.input-number-more {
		left: auto;
		right: 20px;
	}
}

.third__section {
	.skew__wrapper--inner {
		height: 860px;
	}
	.skew__item:first-child {
		.skew__item--overflow {
			background-position: left 150px top;
		}
		.skew__item-aligner {
			margin-left: 50px;
		}
		.skew__item-heading {
			top: auto;
			bottom: 235px;
		}
	}
	.skew__item:nth-child(2),
	.skew__item:nth-child(3) {
		.skew__item-inner {
			width: 117%;
		}
	}
	.skew__item:nth-child(2) {
		.skew__item-heading {
			top: auto;
			bottom: 105px;
		}
	}
	.skew__item:nth-child(3) {
		.skew__item-heading {
			top: auto;
			bottom: 200px;
		}
		.skew__item-aligner {
			margin-right: 90px;
		}
	}
}

.fourth__section {
	.skew__wrapper--inner {
		height: 860px;
	}
	.skew__item:first-child {
		.skew__item-inner {
			width: 118%;
		}
		.skew__item--overflow {
			background-position: left 50px top -50px;
		}
		.skew__item-aligner {
			margin-left: 105px;
		}
		.skew__item-heading {
			top: auto;
			bottom: 80px;
		}
	}
	.skew__item:nth-child(2) {
		.skew__item-inner {
			width: 117%;
		}
		.skew__item-heading {
			top: auto;
			bottom: 225px;
		}
	}
	.skew__item:nth-child(3) {
		.skew__item-heading {
			top: auto;
			bottom: 85px;
		}
		.skew__item-aligner {
			margin-right: 25px;
		}
	}
}

.parallax-section {
	background-size: cover;
	position: relative;
	overflow: hidden;
	.intro__heading {
		padding: 0 90px;
		text-align: center;
		font-size: 80px;
		color: #fff;
	}
	.nlo-img {
		margin: auto;
		display: block;
		max-width: 100%;
		height: auto;
	}
	.all-parts {
		width: 205px;
		margin: auto;
		position: absolute;
		top: 420px;
		left: 50%;
		margin-left: -100px;
		z-index: 0;
		height: calc(100% - 870px);
	}
	.pr1 {
		position: absolute;
		left: 120px;
		top: 400px;
		max-width: 35%;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
		.txt-side {
			background-color: #09b70e;
			transform: skewX(-10deg);
			padding: 50px;
			margin-top: 45px;
			&__inner {
				transform: skewX(10deg);
			}
			p {
				margin: 0;
				color: #fff;
				font: 700 16px/20px $rs;
			}
		}
	}
	.pr2 {
		position: absolute;
		max-width: 35%;
		right: 120px;
		top: 350px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.pr3 {
		position: absolute;
		max-width: 20%;
		bottom: 10px;
		left: 120px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
	.pr4 {
		position: absolute;
		max-width: 20%;
		bottom: 10px;
		right: 120px;
		img {
			display: block;
			max-width: 100%;
			height: auto;
		}
	}
}

.video-wrapper {
	position: relative;
	z-index: 1;
	video {
		width: 100%;
		height: auto;
	}
}

.play__video {
	position: absolute;
	background: url(../img/play-btn.png) center center no-repeat;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	cursor: pointer;
	z-index: 1;
	&.op_btn {
		background: transparent;
	}
}





































