extends _layout
block content
	main.main-content
		section.full-height.first__section
			.container.scaleable-wrapper
				.scaleable-wrapper__inner
					.index-womans.index__images.animated.fadeInLeft
						img(src="img/index-womans.png", alt="")
					.index-man.index__images.animated.fadeInRight
						img(src="img/index-man.png", alt="")
					.index-tube.index__images.animated.bounceInDown
						img(src="img/tube1.png", alt="")
					h2.intro__heading.animated.bounceIn Попробуй<br>это на вкус!
		section.second__section
			.skew__wrapper.skew-direction__left
				.skew__wrapper--inner
					.skew__item.institute
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/skew1.png)")
						p.skew__item-heading
							span.skew__item-aligner в институте
					.skew__item.walk
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/walk.png)")
						p.skew__item-heading
							span.skew__item-aligner на прогулке
						.skew__item-text
							a.btn(href="#") Подробнее
							.skew__item-text--inner
								p EATTUBE -тот же натуральный чизкейк, 100% аналогичный по составу чизкейку, который вы можете купить в лучших ресторанах, только гораздо удобнее! 
								p EATTUBE- дает вам возможность наслаждаться любимым лакомством, где бы вы не находились!
								p Его удобно брать с собой, не боясь испортить сумку или карманы вашей одежде: тюбик изготовлены из высокотехнологичного материала, который может выдержать любые экстремальные условия.
								p Мы уважаем традиций по этому стараемся сохранить вкус классического чизкейка.  Мы помещаем все ингредиенты в тюбик отдельными слоями, чтобы вы чувствовали каждый вкус продукта отдельно, как в классическом ресторанном чизкейке.
					.skew__item.in-car
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/skew3.png)")
						p.skew__item-heading
							span.skew__item-aligner в машине
		section.tastes.cf
			.container
				h2.intro__heading НАши вкусы
				.tastes__wrapper
					.tastes__item
						.tastes__item--cart
							img.taste-tube(src="img/tube2.png", alt="")
							.tastes__item--form
								form
									input(type="number" min="1" class="tastes__input" value="1")
									input.btn(type="submit" value="КУПИТЬ")
							img.tube-cake(src="img/tube2-cake.png", alt="")
						.tastes__item--info
							p.tube__name Малиновый чизкейк
							p.tube__price 230 
								span.curr ₽
					.tastes__item
						.tastes__item--cart
							img.taste-tube(src="img/tube3.png", alt="")
							.tastes__item--form
								form
									input(type="number" min="1" class="tastes__input" value="1")
									input.btn(type="submit" value="КУПИТЬ")
							img.tube-cake(src="img/tube3-cake.png", alt="")
						.tastes__item--info
							p.tube__name Шоколадный чизкейк
							p.tube__price 230 
								span.curr ₽
					.tastes__item
						.tastes__item--cart
							img.taste-tube(src="img/tube4.png", alt="")
							.tastes__item--form
								form
									input(type="number" min="1" class="tastes__input" value="1")
									input.btn(type="submit" value="КУПИТЬ")
							img.tube-cake(src="img/tube4-cake.png", alt="")
						.tastes__item--info
							p.tube__name Вишневый чизкейк
							p.tube__price 230 
								span.curr ₽
		section.third__section
			.skew__wrapper.skew-direction__left
				.skew__wrapper--inner
					.skew__item.institute
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/skew4.png)")
						p.skew__item-heading
							span.skew__item-aligner УДОБНО
					.skew__item.walk
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/skew4.jpg)")
						p.skew__item-heading
							span.skew__item-aligner Вкусно
						
					.skew__item.in-car
						.skew__item-inner
							.skew__item--overflow(style="background-image: url(img/skew5.jpg)")
						p.skew__item-heading
							span.skew__item-aligner Модно




block inlineScripts